<link rel="stylesheet" type="text/css" href="/css/modules/accueil.css" />
<div class="containerAll">
    <div class="header">
        <h1 class="titre1">Bienvenu à Gontaud de Nogaret</h1>
        <h2 class="sousTitre">"Le Jardin"</h2>
    </div>
    <div class="rowvisiter titreGris">
        <div >Visiter en ligne</div>
    </div>
    <div class="lesLieux">
      <div class="divImageLieu laMaison"><a href="/laMaison"><img src="images/laMaison.png" class="vignette" alt="laMaison"></a></div>
      <div class="divImageLieu lePigeonnier"><a href="/lePigeonnier"><img src="images/lePigeonnier.png" class="vignette" alt="lePigeonnier"></a></div>
      <div class="divImageLieu leChais"><a href="/leChais"><img src="images/leChais.png" class="vignette" alt="leChais"></a></div>
      <div class="divImageLieu laSerre"><a href="/laSerre"><img src="images/laSerre.png" class="vignette" alt="laSerre"></a></div>
      <div class="divImageLieu leGarageEtAtliers"><a href="/leGarageEtAteliers"><img src="images/leGarageEtAteliers.png" class="vignette" alt="leGarageEtAteliers"></a></div>
      <div class="divImageLieu laSalleDeJeux"><a href="/laSalleDeJeux"><img src="images/laSalleDeJeux.png" class="vignette" alt="laSalleDeJeux"></a></div>
    </div>
    <div class="rowVenirTitre titreGris">
        <div >Venir à Gontaud - "le jardin"</div>
    </div>
      <div id="divQuiVient">
        <div ><a href="/jeviens"><img id="imgJeViens" src="images/jeViens.png"></a></div>
        <div ><a href="/quivient"><img id="imgQuiVient" src="images/quiVient.png"></a></div>
      </div>
    <div class="rowVenir titreGris">
        <div >Les Fiches Comment Faire ?</div>
    </div>
    <ul class="commentFaire">
      <li class="ficheCommentFaire1">La piscine</li>
      <li class="ficheCommentFaire2">Le linge</li>
      <li class="ficheCommentFaire3">L'arrosage</li>
      <li class="ficheCommentFaire4">Les outils</li>
      <li class="ficheCommentFaire5">L'eau</li>
    </ul>
</div>
<br>
