<!DOCTYPE html>
<html>
  <head>
    <script src="https://www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>

  </head>
  <body>
    <center>
      <h1> <%= @title %> </h1>
      <p>
      <script>  Chartkick.configure({language: "fr"});</script>
      <%= timeline @matimeline, library: {backgroundColor: '#ddd', colors: ['#cbb69d', '#603913', '#c69c6e'], enableInteractivity: 'true', timeline: {groupByRowLabel: 'true'}, tooltip: {isHtml: 'true',  trigger: 'focus'}}%>
      </p>
    </center>
  </body>
</html>
