<div class="container">
    <div class="row">
        <h1 id="titre1">Gontaud de Nogaret</h1>
    </div>
    <div class="row" >
        <h5 id="sousTitre">"Le Jardin"</h3>
    </div>
</div>
<div class="signinline row">
    <div class="item">
        <img src="/images/jardin_cyclamens.jpeg" width="300" heigth="200" id="imageDEntree" alt="Des Cyclamens du jardin de Gontaud">
    </div>
    <div class="item" id="laForm">
        <form action:"/signin" method="POST">
            Enter Username: <input type="text" name="username"><br>
            Enter your password: <input type="password" name="password"><br>
            <input type="submit" value="Signin"><br>
        </form>
    </div>
</div>   
<div class="row">
    <br>
</div>



