<div class="containerAll">
    <div class="header">
        <h1 id="titre1">Gontaud de Nogaret</h1>
        <h5 id="sousTitre">"Le Jardin"</h5>
    </div>
    <div class="signInLine row">
        <img src="/images/gontaudpeinture.jpg"  class="pictMain" width="300" height="200" id="imageDEntree" alt="Des Cyclamens du jardin de Gontaud">
        <div class="laForm">
            <form action="/signin" class="question" method="POST">
                <span class="textJosefin">Enter Username: </span><input type="text" name="username"><br>
                <span class="textJosefin">Enter your password:</span> <input type="password" name="password"><br>
                <input type="submit" value="Signin"><br>
            </form>
        </div>
    </div>   
</div>
<br>


