.containerAll {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.signInLine {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0%;
  margin: 0;
}

.pictMain {
  width: 100%;
  max-width: 80vh;
  height: auto;
  flex-grow: 1;
  opacity: 0.65;
  margin: 4px;
  border-radius: 4px;
}

.laForm {
  display: flex;
  flex-flow: row wrap;
  border: rgb(192, 173, 109) solid 2px;
  flex-grow: 1;
  max-width: 80vh;
  justify-content: center;
  align-items: center;
  margin: 4px;
  border-radius: 4px;
  background-image: url(/images/jardin_cyclamens.jpeg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: 1;
}

footer {
  text-align: center;
}
