li {
  list-style-type:none;
}

.lesLieux .commentFaire {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
}

.imageLieu {
  margin: 10px;
  max-width: 40%;
  vertical-align: bottom;
  object-fit:contain;
}
